main.grid > * {
	border: 1px solid var(--accent);
}


main.grid {
	width: 100%;
	height: 92%;

	display: grid;
	grid-template-rows: repeat(8, auto);
	grid-template-columns: repeat(5, auto);

	grid-template-areas:
		'article article article article logo-section logo-section logo-section logo-section'
		'article article article article logo-section logo-section logo-section logo-section'
		'article article article article logo-section logo-section logo-section logo-section'
		'footer-left footer-left footer-left footer-left footer-right footer-right footer-right footer-right'
		'footer-left footer-left footer-left footer-left footer-right footer-right footer-right footer-right'
	;
}

main.grid article {
	grid-area: article;
}

main.grid .logo-section {
	grid-area: logo-section;
}

main.grid .footer-left {
	grid-area: footer-left;
}

main.grid .footer-right {
	grid-area: footer-right;
}

/*** MOBILE SCREEN SIZES */
@media only screen and (max-width: 768px) {
	body {
		margin: 0 auto;

		max-width: 92vw;
	}
}

/*** DESKTOP SCREEN SIZES */
@media only screen and (min-width: 768px) {
	body {
		margin: 0 auto;

		max-width: 90vw;
	}
}
