/*** MOBILE SCREEN SIZES */
@media only screen and (max-width: 768px) {
	body {
		margin: 0 auto;

		max-width: 92vw;
		width: 100%;
	}

	main.grid {
		display: grid;
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'card-section'
			'article'
			'footer-left'
			'footer-right';
	}

	main.grid article {
		grid-area: article;
	}

	main.grid .card-section {
		grid-area: card-section;
	}

	main.grid .footer-left {
		grid-area: footer-left;
	}

	main.grid .footer-right {
		grid-area: footer-right;
	}

	/* Grid Cell Content */
	main.grid > * {
		display: flex;
		text-align: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 0rem;
	}

	main.grid article .title {
		margin: 2em 0em;
	}

	main.grid article .body {
		margin: 1em 0em;
	}

	main.grid .footer-left div > * {
		margin: 2rem 0rem;
	}

	main.grid .card-section .credit-card-vector svg {
		width: 100%;
	}

	main.grid > .footer-right div > * {
		margin: 2rem 0rem;
	}

	main.grid > .footer-right div > div.social-link-icons a {
		margin: 0 1em;
	}
}

/*** DESKTOP SCREEN SIZES */
@media only screen and (min-width: 768px) {
	body {
		margin: 0 auto;

		max-width: 90vw;
	}

	main.grid {
		width: 100%;
		height: 92%;

		display: grid;
		grid-template-rows: repeat(8, auto);
		grid-template-columns: repeat(5, auto);

		grid-template-areas:
			'article article article card-section card-section card-section card-section card-section'
			'article article article card-section card-section card-section card-section card-section'
			'article article article card-section card-section card-section card-section card-section'
			'footer-left footer-left footer-left footer-right footer-right footer-right footer-right footer-right'
			'footer-left footer-left footer-left footer-right footer-right footer-right footer-right footer-right';
	}

	main.grid article {
		grid-area: article;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}

	main.grid .card-section {
		grid-area: card-section;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	main.grid .footer-left {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;

		grid-area: footer-left;
	}

	main.grid .footer-right {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-end;
		grid-area: footer-right;
	}

	main.grid .footer-left div,
	main.grid .footer-right div {
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	main.grid .footer-left div {
		justify-content: space-between;
		width: 100%;
	}
}
